.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageLogo {
  width: 76px;
}
.title {
  font-family: "Bebas Neue";
  margin: 0;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #ec315a;
}
